@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul, li{
  list-style: none;
}

.font-special{
  font-family: "Truculenta", sans-serif;
}

input:focus {
  outline:none;
}


@layer utilities {
  .blue-gradient_text {
    @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

}


.bg_shape{
  clip-path: polygon(57% 0%, 81% 21%, 100% 62%, 65% 99%, 5% 85%, 18% 30%);
  border-radius: 100%;
}

.triangle {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 90px 70px 90px;
  border-color: transparent transparent #83b6e1 transparent;
  transform: rotate(180deg);
}